.wrapper-left-block__turnstille {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    //height: 80vh;
    .block {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        .wrapper-left__top__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-right: 10px;
            border: 1px solid black;
            .left-top-block__photo {
                width: 150px;
                height: 150px;
                background: url("../Image/top-left.png") no-repeat;
                margin-bottom: 30px;
            }
            .left-top-block__description {
                width: 70%;
            }
        }
        .wrapper-right__top__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid black;
            .right-top-block__photo {
                width: 110px;
                height: 150px;
                background: url("../Image/top-right.png") no-repeat;
                margin-bottom: 30px;
            }
            .right-top-block__description {
                width: 70%;
            }
        }
        .wrapper-left__bottom__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-right: 10px;
            border: 1px solid black;
            .left-bottom-block__photo {
                width: 150px;
                height: 150px;
                background: url("../Image/bottom-left.png") no-repeat;
                margin-bottom: 30px;
            }
            .left-bottom-block__description {
                width: 70%;
            }
        }
        .wrapper-right__bottom__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid black;
            .right-bottom-block__photo {
                width: 150px;
                height: 150px;
                background: url("../Image/bottom-right.png") no-repeat;
                margin-bottom: 30px;
            }
            .right-bottom-block__description {
                width: 70%;
            }
        }
    }
}



.wrapper-center-block__turnstille {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    height: 80vh;
    .center-block__top {
        width: 200px;
        height: 200px;
        background: url("../Image/main-center-photo.png") no-repeat;
        border: 1px solid black;
    }
    .center-block__carousel {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        border: 1px solid black;
        .arrow-left {
            width: 30px;
            height: 30px;
            background: url("../Image/arrow-left.png") no-repeat;
            border: 1px solid black;
        }
        .arrow-right {
            width: 30px;
            height: 30px;
            background: url("../Image/arrow-right.png") no-repeat;
            border: 1px solid black;
        }

    }
    .center-block__bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid black;
        width: 75%;
        .center-block__description {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
        .center-block__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .list {
                padding-left: 20px;
                li {
                    padding: 10px;
                }
            }
            .list-price {
                list-style-type: none;
                padding-left: 20px;
                li {
                    padding: 10px;
                }
            }
        }
        .center-block__price {
            display: flex;
            width: 50%;
            justify-content: center;
            
        }
    }
}



.wrapper-right-block__turnstille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    height: 80vh;
}